body {

    background: url(https://img.freepik.com/free-photo/movie-background-collage_23-2149876028.jpg?size=626&ext=jpg&ga=GA1.2.2008743219.1686029620&semt=ais);
    background-repeat:no-repeat;
    background-size:cover;
    
}

ul {
  list-style-type: none;
  margin-bottom: 2px;
  padding: 0;
  overflow: hidden;
  background-color:#004080;
}



li a {
  float: right;
  display: block;
  color: white;
  text-align: right;
  padding-right: 15px;
  text-decoration: none;
  
}
li h2 {
  float: left;
  display: block;
  text-align: left;
  color: white;
  padding-left : 15px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
